
*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

form{
    text-align: start;
}

.info{
    width: 500px;
    font-size: large;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 8px;
    font-size: large;
    border: 2px solid black;
    border-radius: 4px;
}

h3{
    margin: 10px 0;
}

button{
    padding: 8px 30px;
    font-size: large;
    background-color: #444444;
    color: white;
    border-radius: 4px;
}

button:hover{
    cursor: pointer;
}

.error{
    font-size:smaller;
    text-align: center;
    color: rgb(245, 161, 5);
    font-weight: bold;
}