*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, rgb(115, 115, 200), lightblue);
}
#imgs{
    width: 100%;
    height: 400px;
}
.container{
    width: 50%;
    margin: 100px auto;
    position: relative;
    
}
#ra{
   display: none;
   position: absolute;
   right: 0; 
   bottom: 50%;
   background-color: currentColor;
   border-radius: 80%;
   padding: 10px;
}

#la{
    display: none;
    position: absolute;
    left: 0; 
    bottom: 50%;
    background-color: currentColor;
    border-radius: 80%;
    padding: 10px;
 }
