/* start your css here */
body{
   text-align:center;
   margin: 10px 30px;
   color:grey;
  
}
.image{
   margin:0 auto;

 background-size: cover;
   
}
.con{
     text-align: justify;
     margin: 10px 50px;
}
#str{
    font-weight: bolder;
}
